{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-file-text-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ cntAll }}</div>
                            <div>Rechnungen</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-money fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="bigger">{{ sumAmt|number_format(0, '.', ',') }} €</div>
                            <div>Einnahmen</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-exclamation-triangle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ sumDun }}</div>
                            <div>Mahnungen</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-power-off fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ cntOff }}</div>
                            <div>Systeme offline</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Offene Rechnungen</h3>
                </div>
                <div class="panel-body">
                    {% if unpayed|length > 0 %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Nr.</th>
                                        <th>Datum</th>
                                        <th>Forderung</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bill in unpayed %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('bill_show', {'id': bill.id}) }}">
                                                    {{ bill.name }}
                                                </a>
                                            </td>
                                            <td>{{ bill.date|date('d.m.Y') }}</td>
                                            <td>{{ bill.amount|number_format(2, ',', '.') }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p>Es sind keine offenen Rechnungen vorhanden.</p>
                    {% endif %}

                    <div class="text-right">
                        <a href="{{ path('bill') }}">
                            Zeige alle Rechnungen <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Nächste Aktionen</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for bill in unpayed %}
                            {% if not bill.shutdownSince %}
                                <a href="{{ path('bill_show', {'id': bill.id}) }}" class="list-group-item">
                                    {{ bill|nextBillStep|raw }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-power-off fa-fw"></i> Offlinesysteme</h3>
                </div>
                <div class="panel-body">
                    {% if offline|length > 0 %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>System</th>
                                        <th>Seit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bill in offline %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('bill_show', {'id': bill.id}) }}">
                                                    {{ bill.project.name }}
                                                </a>
                                            </td>
                                            <td>{{ bill.shutdownSince|date('d.m.Y') }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p>Es sind keine Systeme offline.</p>
                    {% endif %}

                    <div class="text-right">
                        <a href="{{ path('bill') }}">
                            Zeige alle Rechnungen <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}