{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">
        Projekte

        {#<div class="pull-right">
            <a
                href="{{ path('project_new') }}"
                class="btn btn-primary"
            >
                <i class="fa fa-plus"></i> Hinzufügen
            </a>
        </div>#}
    </h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('project_edit', { 'id': project.id }) }}">{{ project.id }}</a></td>
                <td>{{ project.name }}</td>
                <td>
                    <a
                        href="{{ path('project_edit', { 'id': project.id }) }}"
                        class="btn btn-default btn-sm"
                    >
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
