{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">
        Kunde bearbeiten

        <div class="pull-right">
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger confirm-submit">
                    <i class="fa fa-trash"></i> Löschen
                </button>
            {{ form_end(delete_form) }}
        </div>
    </h1>

    <div class="row">
        <div class="col-md-8">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-check"></i> Speichern
                        </button>
                    </div>
                </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
