{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">
        Kunden

        <div class="pull-right">
            <a
                href="{{ path('customer_new') }}"
                class="btn btn-primary"
            >
                <i class="fa fa-plus"></i> Hinzufügen
            </a>
        </div>
    </h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Ort</th>
                <th class="tbl-cell-right">Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td><a href="{{ path('customer_edit', { 'id': customer.id }) }}">{{ customer.id }}</a></td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.city }}</td>
                <td class="tbl-cell-right">
                    <a
                        href="{{ path('customer_edit', { 'id': customer.id }) }}"
                        class="btn btn-default btn-sm"
                    >
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
